* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 20px;
}
.container .product-card {
  width: 30%;
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  border: 1px solid gray;
  border-radius: 20px;
}
.container .product-card_btn {
  width: 50%;
  border: 0;
  background-color: pink;
  border-radius: 20px;
  margin: 0 auto;
}
.container .product-card img {
  width: 200px;
  height: 200px;
}