* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#site-header {
  width: 100%;

  .header-wrap {
    width: 70%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 22px;

    .brand {
      margin-top: 13px;
      width: 150px;

      img {
        width: 100%;
      }
    }

    .menu-area {
      display: flex;
      align-items: center;
      justify-content: center;

      .main-nav {
        ul {
          display: flex;
          gap: 36px;
          list-style: none;

          a {
            font-family: "Cinzel", sans-serif;
            text-decoration: none;
            color: black;
            font-size: 12px;
          }

          .active {
            color: blueviolet;
          }
        }
      }

      .menu-icon {
        display: none;
      }
    }
  }
}

#hero {
  width: 100%;

  .hero-text {
    background-image: url(/assets/images/hero_2.jpg);
    background-size: cover;
    width: 60%;
    height: 80vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 22px;
    color: white;
    filter: contrast(80%);

    p {
      font-size: 17px;
      font-family: "Cinzel", sans-serif;
    }

    h1 {
      font-size: 48px;
      font-family: "Montserrat", sans-serif;
    }
  }
}

.product-area {
  width: 80%;
  margin: 40px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 20px;

  .product-card {
    width: 30%;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    border: 1px solid grey;
    border-radius: 20px;

    img {
      width: 200px;
      height: 200px;
    }

    .btn {
      width: 50%;
      border: none;
      background: gray;
      border-radius: 20px;
    }
  }
}

#intro {
  width: 100%;
  margin: 40px 0;

  .intro-text {
    background-image: url(/assets/images/hero_2.jpg);
    background-size: cover;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 22px;
    color: white;

    p {
      font-size: 20px;
      font-family: "Cinzel", sans-serif;
    }

    h1 {
      font-size: 70px;
      font-family: "Montserrat", sans-serif;
    }
  }
}

#testimonials {
  margin-bottom: 33px;

  .testimonial-list {
    width: 70%;
    margin: 0 auto;
    display: flex;
    gap: 30px;
    text-align: center;

    .testimonial-card {
      width: 30%;
      display: flex;
      flex-direction: column;
      gap: 20px;

      p {
        color: grey;
        font-size: 13px;
        font-family: "Cinzel", sans-serif;
      }

      .author {
        font-size: 10px;
        font-family: "Cinzel", sans-serif;
        color: blueviolet;
      }

      .avatar img {
        width: 20%;
        border: 3px solid darkorchid;
        border-radius: 50%;
      }
    }
  }
}

#blog {
  background: #f8f9fa;
  margin-bottom: 22px;

  .blog-wrap {
    .blog-head {
      text-align: center;
      margin: 25px 0 33px;
      display: flex;
      flex-direction: column;
      gap: 15px;

      h1 {
        font-family: "Cinzel", sans-serif;
        font-size: 22px;
      }

      p {
        font-family: "Roboto", sans-serif;
        font-size: 15px;
      }

      .blog-link {
        font-size: 13px;
        color: darkorchid;
      }
    }

    .blog-cards {
      width: 60%;
      margin: 0 auto;
      display: flex;
      gap: 30px;

      .blog-card {
        width: 33%;

        img {
          width: 95%;
        }

        h2 {
          font-size: 13px;
          margin-top: 12px;
          font-family: "Cinzel", sans-serif;
        }

        p {
          font-size: 13px;
          margin: 12px 0;
          color: gray;
        }

        span {
          font-size: 10px;
        }
      }
    }
  }
}

#site-footer {
  padding: 40px;
  text-align: center;

  .socials {
    font-size: 22px;
    margin-bottom: 20px;

    i {
      border: 2px solid darkorchid;
      border-radius: 50%;
      background: darkorchid;
      color: white;
      cursor: pointer;

      &:hover {
        background: black;
      }
    }
  }
}
@media (min-width: 576px) and (max-width: 778px) {
  #header {
    .head {
      .nav nav ul {
        display: none;
      }

      .icon {
        display: block;
      }
    }
  }

  .products {
    flex-direction: column;

    .product-card {
      width: 90%;
    }
  }

  #blank {
    .cards {
      flex-wrap: wrap;

      .card {
        width: 45%;
      }
    }
  }

  #blog {
    .cards {
      flex-wrap: wrap;

      .card {
        width: 45%;
      }
    }
  }
}
@media (min-width: 778px) and (max-width: 991px) {
  #header {
    .head {
      .nav nav ul {
        display: none;
      }

      .icon {
        display: block;
      }
    }
  }

  .products {
    justify-content: space-between;

    .product-card {
      width: 45%;
    }
  }

  #blank {
    .cards {
      .card {
        width: 45%;
      }
    }
  }

  #blog {
    .cards {
      .card {
        width: 45%;
      }
    }
  }
}
@media (min-width: 991px) and (max-width: 1024px) {
  #header {
    .head {
      width: 80%;
    }
  }

  .products {
    .product-card {
      width: 32%;
    }
  }

  #blank {
    .cards {
      .card {
        width: 32%;
      }
    }
  }

  #blog {
    .cards {
      .card {
        width: 32%;
      }
    }
  }
}
